@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color1: #fab10c;
    --color2: #f4b076;
    --color3: #21899e;
    --color4: #d6d6d6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    font-family: "Montserrat", sans-serif;
}

.management-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
}

.account-manage {
    width: 25%;
    padding: 15px;
    border: 1px solid var(--color4);
}

.roles-manage {
    width: 74%;
}

.show-avatar {
    width: 45%;
    margin: 10px auto;
    border: 3px solid var(--color4);
    border-radius: 50%;
    overflow: hidden;
}

.admin-account {}

.show-avatar img {
    width: 100%;
    margin: 0 auto;
}

.show-info {
    margin-top: 20px;
}

.show-info p {
    display: flex;
    justify-content: space-between;
}

.show-info .left {
    color: rgba(0, 0, 0, 0.5);
}

.show-info .right {
    color: var(--color3);

}

.change-info {
    display: flex;
    justify-content: flex-end;
}

.change-info .change-button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color1);
}

.nav-link {
    color: var(--color3);
    background-color: transparent;
    padding: 10px;
    text-decoration: none;
}

.nav-link.active {
    border-radius: 5px;
}

.tab-content {
    border: 1px solid var(--color4);
    border-top: none;
    padding: 10px 20px;
}