@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #FAB10C;
    --color2: #F4B076;
    --color3: #21899e;
    --color4: #D6D6D6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    position: static;
    background: var(--color3);
    padding: 30px 50px;

}

.title {
    font-size: 30px;
    color: var(--color2);
    text-shadow: 1px 1px 1px black;
}

.allInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftInfo, .centerInfo, .rightInfo {
    padding: 20px 10px 15px 10px;
    margin-left: 0;
    margin-right: 0;
}

.leftInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.centerInfo {
    width: 40%;
}

.rightInfo {
    width: 30%;
}

.infoTitle {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.terms div p, .services div p, .contact div p, .times div p {
    margin-top: 10px;
    color: var(--color4);
}

.contact div p, .times div p {
    display: flex;
    align-items: center;
}

.contact p .icon , .times div p .icon {
    width: 10%;
    margin: 0 5px;
}

a {
    color: var(--color4);
    text-decoration: none;
}

a:hover {
    color: white;
}

.centerInfo {
    width: 30%;
}

.rightInfo {
    width: auto;
}