:root {
    --color1: #FAB10C;
    --color2: #F4B076;
    --color3: #21899e;
    --color4: #D6D6D6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.homepage {
    padding: 10px;
}

.heartrate {
    margin: 20px;
    border: 1px solid var(--color4);
    padding: 0 20px 0 0;
}

h2 {
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    color: var(--color3);
}