:root {
    --color1: #FAB10C;
    --color2: #F4B076;
    --color3: #21899e;
    --color4: #D6D6D6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {}

.heartrate {
    min-height: 500px;
}

.ecg-graph {
    width: 500px;
}