:root {
    --color1: #FAB10C;
    --color2: #F4B076;
    --color3: #21899e;
    --color4: #D6D6D6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.history {
    margin: 20px;
    border: 1px solid var(--color4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.your-history {
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    color: var(--color3);
}

.show-recent-result {
    background: var(--color2);
    padding: 10px 25px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px 0 30px 100px;
    width: 200px;
}

.show-recent-result button {
    border: none;
    outline: none;
    background: transparent;
}