:root {
    --color1: #D4343F;
    --color2: #F3505A;
    --color3: #ECEBEA;
    --color4: #085979;
    --color5: #008EA0;
    --color6: #64BABE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.history {
    margin: 20px;
    border: 1px solid var(--color4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.your-history {
    text-align: center;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    color: var(--color1);
}

.show-recent-result {
    background: var(--color1);
    padding: 10px 25px;
    font-size: 18px;
    box-shadow: 3px 3px var(--color2);
    border-radius: 10px;
    margin: 30px 0 30px 100px;
    width: 200px;
    border: 0.5px solid white;
}

.show-recent-result button {
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.result-list .list li {
    list-style: none;
    text-align: left;
    border: 1px solid var(--color6);
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color5);
}

.info-box {
    color: rgb(100, 100, 100);
    margin-top: 5px;
    margin-left: 20px;
}

.show-date-detail {
    color: var(--color2);
    margin: auto;
}