@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #FAB10C;
    --color2: #F4B076;
    --color3: #21899e;
    --color4: #D6D6D6;
    --color5: #a5e8f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    width: 100%;
    position: static;
    z-index: 1000;
    background: var(--color5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    padding: 0 30px;
    margin: 0 auto;
    height: 100px;
    font-size: 20px;
}

.navbar-brand {
    width: 20%;
    padding: 10px;
}

.navbar-toggler {
    visibility: hidden;
    pointer-events: none;
}

div[id="navbarNav"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(var(--color4), var(--color3));
    color: white;
    text-shadow: 1px 1px 2px black;
    transition: 0.2s;
}

.nav-link:hover {
    color: var(--color4);
    background: linear-gradient(var(--color3), var(--color4));
}

.log-in {
    width: 20%;
}

.log-in button {
    color: var(--color3);
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 25px;
    transition: 0.2s;
    padding: 10px;
    margin-right: 5px;
    background: transparent;
}

.log-in button:hover {
    cursor: pointer;
    border: 2px solid var(--color3);
    background: var(--color4);
}

.sign-up {
    width: 21%;
}

.sign-up button {
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    background: var(--color3);
    color: white;
    transition: 0.2s;
    margin-left: 5px;
}

.sign-up button:hover {
    cursor: pointer;
    border: 2px solid var(--color3);
    background: var(--color4);
    color: var(--color3);
}

@media screen and (max-width: 800px) {
    .navbar-nav {
        display: none;
    }
}