.wrapper {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100% !important;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../../public/img/bg-login-img.jpg) !important;
  background-size: auto;

  position: relative;

  h3 {
    font-size: 2.5rem;
    color: #000 !important;
  }

  .text-center {
    display: flex;
    justify-content: center;
  }

  p {
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
}