@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color1: #D4343F;
    --color2: #F3505A;
    --color3: #ECEBEA;
    --color4: #085979;
    --color5: #008EA0;
    --color6: #64BABE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    font-family: "Montserrat", sans-serif;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.avatar {
    border: 1px solid var(--color4);
    border-bottom: 0;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.showAvatar {
    width: 45%;
    margin: 10px auto;
    border: 3px solid var(--color5);
    border-radius: 50%;
    overflow: hidden;
}

.showAvatar img {
    width: 100%;
    margin: 0 auto;
}

.personalInfo {
    border: 1px solid var(--color4);
    padding: 20px;
    width: 30%;
}

.showInfo {
    margin-top: 20px;
}

.showInfo p {
    display: flex;
    justify-content: space-between;
}

.showInfo .left {
    color: rgba(0, 0, 0, 0.5);
}

.showInfo .right {
    color: var(--color4);
    font-weight: bold;
}

.changeInfo {
    display: flex;
    justify-content: flex-end;
}

.changeInfo .changeButton {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color1);
}